* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body main {
  background-color: #3B1210;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: whitesmoke;
  width: 100vw;
}
body main .cajaClan {
  justify-content: center;
  width: 80vw;
  display: flex;
}
body main div {
  width: 40%;
  min-width: 200px;
  padding: 10px 10px 20px 10px;
  font-size: 20px;
}
body main section {
  background-color: #3B1210;
}
body main section .cajaRecortes {
  width: 100%;
  padding: 30px 10px 60px 10px;
}
body main section div {
  color: whitesmoke;
  text-align: center;
}
body main section div .noticias:hover {
  color: blue;
}
body main section div .cajaRecortes {
  width: 100%;
  padding: 30px 10px 60px 10px;
}
body main section div ol .jugadorLink:hover {
  color: blue;
}
body main section div ol li a {
  color: whitesmoke;
  text-decoration: none;
}
body main section div h3 {
  text-decoration: underline;
}
body main section div h3 a {
  color: whitesmoke;
}
body main section div h2 {
  font-size: 50px;
  text-decoration: underline;
  padding-bottom: 20px;
  text-align: center;
}
body main section div p {
  display: inline;
  padding: 30px 60px;
}
body main section div p iframe {
  max-width: 25%;
}
body footer {
  height: 120px;
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
}
body footer div a {
  padding: 20px;
  justify-content: space-between;
}
body footer div .redes {
  padding: 10px 30px 5px 30px;
  width: 400px;
}
body footer div .derechos {
  font-size: 20px;
  padding: 50px 0 50px 80px;
}
body footer h3 {
  font-size: 15px;
  display: block;
  padding: 6px 137px;
}

main #tituloNoticias {
  text-decoration: underline;
}
main section {
  text-align: center;
}
main section .notis {
  width: 40vw !important;
  display: inline-block;
  text-align: justify;
}
main section div h4 {
  text-decoration: underline;
  text-align: center;
}
main section div #logoCaducup {
  float: right;
  width: 20%;
}
main section div #logoTorneo {
  float: right;
  width: 20%;
}

main .plantillaJugadores {
  width: 45%;
  border: solid;
  border-color: black;
  padding-top: 10px;
  margin: 20px 2px;
}
main .plantillaIncorporaciones {
  width: 45%;
  border: solid;
  border-color: black;
  padding-top: 10px;
  margin: 20px 2px;
}
main section div {
  display: inline;
}
main section div .fotoPerfil {
  width: 7vw;
}
main section div h3 {
  text-decoration: none;
}
main section div img {
  width: 100px;
  height: 120px;
  float: right;
  margin: 5px 0 0 5px;
}
main section div p {
  font-size: 15px;
}
main section #nuestrosJugadores, main section #nuevasIncorporaciones {
  text-decoration: underline;
}

main .sectionLogros1 {
  width: 100%;
  padding: 10px 5px 10px 40px;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main .sectionLogros2 {
  width: 100%;
  padding: 10px 5px 10px 40px;
  text-align: center;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main section ul {
  list-style: none;
}
main section ul .primerLugar {
  color: gold;
}
main section ul .segundoLugar {
  color: grey;
}
main section ul .tercerLugar {
  color: rgb(75, 53, 29);
}
main section ul h2 {
  text-decoration: underline;
}

main form {
  padding: 30px 0;
}
main form fieldset {
  border-radius: 2px;
  padding: 5px;
}

/*# sourceMappingURL=estilos.css.map */
